/*	-------------------------------------------------
	Базовые стили сайта | Base site styles
	------------------------------------------------- */
html {font-size: 16px;}
body {
	width: 100%;
	height: 100%;
	font: 1rem/1.2 Arial, sans-serif;
	color:#333;
	background-color: #fff;
	overflow: hidden;
}
a { color:#03f; text-decoration:underline; }
a:hover { text-decoration:none; }

p { margin-bottom:15px; }

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

input[type=text], input[type=password] {
}
textarea {
}
input[type=submit], input[type=button] {
}
.about {
	position: absolute;
	top: 40px;
	left: 40px;
	padding: 30px;
	background-color: #fff;
	z-index: 500;
}
.parameters {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 400px;
	height: 400px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	z-index: 1000;
}
.row {margin-bottom: 5px;}
.row label {
	display: inline-block;
	width: 170px;
	font-size: 0.9rem;
}

.cell-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10;
}
.cell-container > li {
	white-space: nowrap;
}
.cell {
	display: inline-block;
	background-color: #dadada;
	vertical-align: top;
}